name: Build & Publish Proxmox LXC Template

on:
  push:
    tags:
      - "v*"
  workflow_dispatch: {}

permissions:
  contents: write   # Needed to publish releases

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build LXC template
        working-directory: scripts
        run: |
          bash build-lxc-template.sh
        env:
          ROOTFS: /tmp/rootfs
          TARBALL_NAME: debian-13-caddy-cloudflare_13.0-1_amd64.tar.gz

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: scripts/debian-13-caddy-cloudflare_13.0-1_amd64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
